/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* // google fonts */
/* css reset */
html,body{position:relative;-webkit-text-size-adjust:100%;color:#333;width:100%;height:100%;}
body{margin:0;overflow:auto;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:none;}
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,td,textarea,th,ul{margin:0;padding:0;box-sizing:border-box;}
body,button,input,select,strong,table,textarea{font-family:"Montserrat","Noto Sans KR","맑은 고딕","Malgun Gothic","Apple SD Gothic Neo","돋움","dotum",sans-serif;font-size:16px;font-weight:400;word-break:keep-all;word-wrap:break-word;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
h1{font-size:2em;margin:.67em 0;}
h1,h2,h3,h4,h5,h6{font-weight:inherit;font-size:inherit;}
fieldset,iframe{border:0;padding:.35em .75em .625em;}
img{border:0;border-style:none;vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
dl,li,menu,ol,ul{list-style:none;}
address,em{font-style:normal;}
a{color:inherit;text-decoration:none;background-color:transparent;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent;}
a:active,a:focus,a:hover{text-decoration:none;}
button,input,select,textarea{border:0;vertical-align:middle;background:0 0;font-family:inherit;font-size:100%;line-height:1.15;margin:0;outline:0;overflow:auto;}
button{cursor:pointer;width:auto;overflow:visible;color:inherit;font-size:inherit;vertical-align:middle;background:0 0;border:0;}
button[disabled="disabled"]{cursor:default;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
table{border-collapse:separate;border-spacing:0;table-layout:fixed;width:100%;empty-cells:show;}
caption,legend{visibility:hidden;font-size:0;width:0;height:0;line-height:0;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
input[type="password"]::-ms-reveal,
input[type="text"]::-ms-clear{display:none;}
input.disabled,input.readonly,input[disabled="disabled"],input[readonly="readonly"],select[disabled="disabled"]{background-color:#f5f5f5;cursor:default;border-color:#ddd;}
select{vertical-align:middle;-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;}
select::-ms-expand{display:none;}
::-webkit-input-placeholder{color:#888!important;font-weight:400;}
::-moz-placeholder{color:#888!important;font-weight:400;}
:-ms-input-placeholder{color:#888!important;font-weight:400!important;}
:-moz-placeholder{color:#888!important;font-weight:400;}
select.placeholder{color:#888!important;font-weight:400;}
td,th{text-indent:0;}
hr{box-sizing:content-box;height:0;overflow:visible;}
pre{font-family:monospace;font-size:1em;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b,strong{font-weight:bolder;}
code,kbd,samp{font-family:monospace;font-size:1em;}
small{font-size:80%;}
sub{bottom:-.25em;}
sup{top:-.5em;}
button,input{overflow:visible;}
button,
select{text-transform:none;}
[type="button"],[type="reset"],[type="submit"],button{-webkit-appearance:button;}
[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0;}
[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText;}
progress{vertical-align:baseline;}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
template{display:none;}
[hidden]{display:none;}
/* // css reset */

/* 아이콘 폰트 */

/* 아이콘 폰트 */

/* Colors */
[data-dark="false"] {
  --white_F: #FFFFFF;
	--white_D: #DDDDDD;
	--white_F8: #F8F8F8;
	--white_BF: #BFBFBF;
  --black_0: #000000;
  --black_3: #333333;
}

.font_white_F {color: var(--white_F)}
.font_white_F8 {color: var(--white_F8)}
.font_black_0 {color: var(--black_0);}
.font_black_3 {color: var(--black_3);}

.bg_white_F {background-color: var(--white_F);}
.bg_white_F8 {background-color: var(--white_F8)}
.bg_black_0 {background-color: var(--black_0);}
.bg_black_3 {background-color: var(--black_3);}
/* // Colors */

/* Font weights */
.weight_400 {font-weight: 400;}
.weight_500 {font-weight: 500;}
.weight_600 {font-weight: 600;}
.weight_700 {font-weight: 700;}
.weight_800 {font-weight: 800;}
.weight_900 {font-weight: 900;}
/* // Font weights */

/* Button */
.btn_radius{border-radius: 2rem;}
.btn_border_black {border: 1px solid var(--black_0);}
.btn_border_show {box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);}

.btn_white:hover {color: var(--black_0);}
.btn_black:hover {color: var(--white_F);}
.btn_white {color:var(--black_0);background-color:var(--white_F);}
.btn_black {color:var(--white_F);background-color:var(--black_0);}
/* // Button */

/* InputBox */
.form_custom_main::placeholder {color: transparent !important;}
.form_custom_main:focus {border-color: var(--black_0); box-shadow:none;}
.form_custom_main+label {color: var(--white_BF);}
.form_custom_main{border: 2px solid var(--black_0); border-radius: 5px;}
.form_custom_sub{background-color: var(--white_F8); border: 1px solid var(--white_D); border-radius: 5px;}
/* // InputBox */

/* card */

/* card */
