.main {}
.main .btn_cus {width: 124px; font-size: 14px; position: fixed; bottom: 80px; left: 50%; transform: translate(-50%, 0); -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
.main .btn_cus.on {background-color: #000000; color: #fff;}